.my_table
{
    width: 100%;
    border-collapse: collapse;
}

.my_td 
{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.fishContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.fishContainer img
{
    max-width: 10em;
    max-height: auto;
}