<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <title>Fish Database</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    
    <body>
        <section class="content-section bg-light" id="fish">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-5 d-flex flex-column align-items-left mb-4">
                        <h1>Fish list</h1>
                        <div id="fishes-table" class="fishContainer">
                                <!-- Fish data -->
                        </div>
                        <button class="btn btn-primary btn-xl" href="/userDives">Back to your dives</button>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>