<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <title>Fish Database</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    
    <body>
        <h1 class="fishH1">Fish list</h1>
        <div id="fishes-table" class="fishContainer">
                <!-- Fish data -->
        </div>
        <button class="btn btn-primary btn-xl backToDivesBtn" href="/userDives">Back to your dives</button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>