<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Splash Corp - Landing Page</title>
    </head>
    <body id="page-top">
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Welcome to Splash Corp !</h3>
                    <h2 class="mb-5">Choose what you want to do</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="/render_login">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Log In</div>
                                    <p class="mb-0">Already a member ? Login and see your dives</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio-1.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="/render_signin">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Create an account</div>
                                    <p class="mb-0">New diver ? Create your own personal account</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio-2.jpg" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
