<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Serveur absences</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1><img id="logo" src="/static/IMAC.png"> Serveur absences</h1>
    <p>Ecrit en Flask : la ressource <i>absences</i> renvoie un json.</p> 
   <input type='text' id='nom'><button onClick="create()">Nouvel étudiant absent</button>
    <h3>Liste des absences</h3>	 
    <div id='abs'>
    </div>
    <div id="logsbox">
		<h3 >logs</h3>
		<div id='logs'> </div>
    </div>
   
   <script>
      "use strict";
      
      //Au chargement on affiche la liste des absences
      document.addEventListener('DOMContentLoaded', async function()
      {
	    const response = await fetch("/absences"); 
		register('GET : Liste de tous les absences', response.status);
		const data = await response.json();
		display(data);
	  });
	

	// création d'un nouvel étudiant absentéiste
	async function create() {
	   const neo = document.getElementById('nom');
	   const response = await fetch("/absences",
			{ method: 'POST',
			  headers: {'Accept': 'application/json, text/plain, */*',
    				    'Content-Type': 'application/json'
  			  },
			  body: JSON.stringify({'nom':neo.value})
			});
		register(`POST : Création du nom ${neo.value}`, response.status);
    	neo.value='';
		const data = await response.json();
		display(data);
	}
	
      	//ajout d'une absence à un existant
	async function addAbs(id) {
 		const response = await fetch("/absence/"+id, { method: 'PUT'}) ;
		register(`PUT sur ${id} Nouvelle absence`, response.status);
		const data = await response.json();
		display(data);
	}
     	
     	//Absence justifiée
    async function delAbs(id) {
 		const response = await fetch("/absence/"+id, { method: 'DELETE'});
   	    register(`DELETE sur ${id} : Justification absence`, response.status);
		const data = await	response.json();
		display(data);
    }
     	
     	
    //fonction d'affichage, utilisée partout
    function display(data) {
		const mylist = document.getElementById('abs');
		//on la nettoie des contenus précédents
		while(mylist.firstChild) { 
               		mylist.removeChild(mylist.firstChild); 
        	}
 		for(const [id, absent] of Object.entries(data)) {
			const line = document.createElement("p");
			const add = document.createElement("button");
			add.innerHTML="Ajouter une absence";
			add.onclick =  function() {
				addAbs(id);
			};
			const del = document.createElement("button");
			del.innerHTML="Justifier une absence";
			del.onclick = function() {
				delAbs(id);
			};
			const text = document.createElement("span");
			text.innerHTML = id + ' : ' +absent.nom + ' : ' + absent.abs + ' absence(s)';
			line.append(text);
			line.append(add);
			line.append(del);
			mylist.append(line);
		}
	};

	//fonction d'affichage de logs
	function register(msg, code) {
		const today = new Date();
		const mylogs = document.getElementById('logs');
		const line = document.createElement("p");
		if (code >=400 ) {
			line.style.color = "red";
		}
		line.innerHTML = today.toLocaleTimeString() + ' -> <i>' +msg + '</i> HTTP : [' + code + ']';
		mylogs.append(line);
	}
  </script>
 </body>
</html>
