<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <title>Your Dives</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <section class="content-section bg-light" id="dives">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="content-section-heading">
                        <h3 class="text-secondary mb-0">Welcome, username !</h3>
                    </div>
                    
                    <div class="col-lg-5 d-flex flex-column align-items-left mb-4">
                        <h2>Your Dives</h2>
                        <p class="mb-5">See here your previous dives</p>	 
                        <div id='abs' class=""></div>
                    </div>

                    <form action="add" method="POST">
                        <div class="col-lg-5 d-flex flex-column align-items-center mb-4">
                            <h2 class="mb-5">New Dive</h2>
                            <input type='text' id='nom' class="mb-5 mx-auto"> <!-- Cette ligne est l'input du template -->
                            
                            <label for="dive_mins">Number of minutes you dived : </label>
                            <input type='number' name="dive_mins" id='dive_mins' class="mb-5 mx-auto">

                            <label for="dive_secs">Number of seconds you dived : </label>
                            <input type='number' name="dive_secs" id='dive_secs' class="mb-5 mx-auto">

                            <label for="dive_depth">Your dive depth : </label>
                            <input type='number' name="dive_depth" id='dive_depth' class="mb-5 mx-auto">

                            <label for="dive_date">Your dive date : </label>
                            <input type='date' name="dive_date" id='dive_date' class="mb-5 mx-auto">

                            <label for="rating">Your rating </label>
                            <input type='number' name="rating" id='rating' class="mb-5 mx-auto">

                            <button class="btn btn-primary btn-xl" onClick="create()">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="content-section bg-primary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Want to see all the fish in our database ?</h2>
                <a class="btn btn-xl btn-light me-4" href="/form">See all fish</a>
            </div>
        </section>
    
        <div id="logsbox">
            <h3>logs</h3>
            <div id='logs'></div>
        </div>
    </body>
</html>

<script>
    "use strict";
    // Au chargement on affiche la liste des absences
    document.addEventListener('DOMContentLoaded', async function()
    {
      const response = await fetch("/absences"); 
      register('GET : Liste de tous les absences', response.status);
      const data = await response.json();
      display(data);
    });
  
  // création d'un nouvel étudiant absentéiste
  async function create() {
     const neo = document.getElementById('nom');
     const response = await fetch("/absences",
          { method: 'POST',
            headers: {'Accept': 'application/json, text/plain, */*',
                      'Content-Type': 'application/json'
              },
            body: JSON.stringify({'nom':neo.value})
          });
      register(`POST : Création du nom ${neo.value}`, response.status);
      neo.value='';
      const data = await response.json();
      display(data);
  }
  
        // ajout d'une absence à un existant
  async function addAbs(id) {
       const response = await fetch("/absence/"+id, { method: 'PUT'}) ;
      register(`PUT sur ${id} Nouvelle absence`, response.status);
      const data = await response.json();
      display(data);
  }
       
       //Absence justifiée
  async function delAbs(id) {
       const response = await fetch("/absence/"+id, { method: 'DELETE'});
         register(`DELETE sur ${id} : Justification absence`, response.status);
      const data = await	response.json();
      display(data);
  }
       
       
  //fonction d'affichage, utilisée partout
  function display(data) {
      const mylist = document.getElementById('abs');
      //on la nettoie des contenus précédents
      while(mylist.firstChild) { 
                     mylist.removeChild(mylist.firstChild); 
          }
       for(const [id, absent] of Object.entries(data)) {
          const line = document.createElement("p");
          const add = document.createElement("button");
          add.innerHTML="Ajouter une absence";
          add.onclick =  function() {
              addAbs(id);
          };
          const del = document.createElement("button");
          del.innerHTML="Justifier une absence";
          del.onclick = function() {
              delAbs(id);
          };
          const text = document.createElement("span");
          text.innerHTML = id + ' : ' +absent.nom + ' : ' + absent.abs + ' absence(s)';
          line.append(text);
          line.append(add);
          line.append(del);
          mylist.append(line);
      }
  };

  //fonction d'affichage de logs
  function register(msg, code) {
      const today = new Date();
      const mylogs = document.getElementById('logs');
      const line = document.createElement("p");
      if (code >=400 ) {
          line.style.color = "red";
      }
      line.innerHTML = today.toLocaleTimeString() + ' -> <i>' +msg + '</i> HTTP : [' + code + ']';
      mylogs.append(line);
  }
</script>