<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <title>Username's Dashboard</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    
    <body>
        <section class="content-section bg-light" id="dives">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">

                    {% block y %}
                        {% if session.username %}
                            <div class="content-section-heading">
                                <h3 class="text-secondary mb-0">Welcome, {{ session.username }} !</h3>
                            </div>
                        {% else %}
                            <h3 class="text-secondary mb-0">Uh oh, something went wrong with your session. Try to log again</h3> <a href="/login">login</a>.
                        {% endif %}
            
                    {% endblock %}
                    
                    <div class="col-lg-5 d-flex flex-column align-items-left mb-4">
                        <h2>Your Dives</h2>
                        <p class="mb-5">See here your previous dives</p>	 
                        <table class="my_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Time</th>
                                    <th>Depth</th>
                                    <th>Date</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in user_dives %}
                                    <tr>
                                        <td class="my_td">Dive n°{{ loop.index }}</td> 
                                        {% for user_dive in entry %}
                                            {% if loop.index0 == 1 %}
                                                <td class="my_td">{{user_dive}}:{{loop.nextitem}}</td>
                                            {% elif loop.index0 == 3 %}
                                                <td class="my_td">{{user_dive}} m</td>
                                            {% elif loop.index0 == 5 %}
                                                <td class="my_td">{{user_dive}}/5</td>
                                            {% elif loop.index0 != 0 and loop.index0 != 2 and loop.index0 != 6 and loop.index0 != 7 and loop.index0 != 8 %}
                                                <td class="my_td">{{user_dive}}</td>
                                            {% endif %}
                                        {% endfor %}

                                        <td class="my_td">
                                            <a href="/render_one_dive/{{ entry[0] }}">
                                                <button class="button">Edit</button>
                                            </a>
                                        </td>
                                        
                                        <td class="my_td">
                                            <a href="/delete_dive/{{ entry[0] }}">
                                                <button class="caption btn-close btn-warning"></button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col-lg-5 d-flex flex-column mb-4">
                        <h2 class="mb-5">New Dive</h2>
                        <form action="/add" method="POST">
                            <br><label for="dive_mins">Number of minutes you dived :</label>
                            <br><input type='number' name="dive_mins" id='dive_mins' class="mb-5">

                            <br><label for="dive_secs">Number of seconds you dived :</label>
                            <br><input type='number' name="dive_secs" id='dive_secs' class="mb-5">

                            <br><label for="dive_depth">Your dive depth :</label>
                            <br><input type='number' name="dive_depth" id='dive_depth' class="mb-5">

                            <br><label for="dive_date">Your dive date :</label>
                            <br><input type='date' name="dive_date" id='dive_date' class="mb-5">

                            <br><label for="rating">Your rating :</label>
                            <br><input type='number' name="rating" id='rating' class="mb-5">

                            <br><input class="btn btn-primary" type="submit" value="Ajouter">
                        </form>
                    </div>
                </div>
                <a href="/logout">
                    <button class="caption btn-outline-warning">Logout</button>
                </a>
            </div>
        </section>

        <section class="content-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Here are your statistics</h2>
            </div>
        </section>

        <section class="content-section bg-primary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Want to see all the fishes in our database ?</h2>
                <a class="btn btn-xl btn-light me-4" href="/form">See all fishes</a>
            </div>
        </section>
    </body>
</html>